div {
	color: #FF0000;
}
div {
	color: #7F7FFF;
	color: #BFBFFF;
}
div {
	color: rgba(127, 127, 255, 0.5);
	color: rgba(191, 191, 255, 0.5);
}
div {
	color: #800000;
	color: #000080;
	color: #008000;
	color: #808080;
}
div {
	color: #FF0000;
	color: #808080;
	color: #FF0000;
	color: #808080;
}
div {
	color: #FFFFFF;
	color: #000000;
	color: #FFFFFF;
	color: #000000;
}
div {
	color: #FFFFFF;
	color: #FF0000;
	color: #FFFFFF;
	color: #FF0000;
}
div {
	color: #000000;
	color: #FF0000;
	color: #000000;
	color: #FF0000;
}
div {
	color: #FF0000;
	color: #C00019;
	color: #800032;
}
div {
	color: #FF0000;
	color: #C00019;
	color: #800032;
}
div {
	color: #7F0000;
	color: #330000;
	color: #FF0000;
}
div {
	color: #BF0000;
	color: #800000;
	color: #000000;
}